/* General */

body {
  margin-left: 10vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #dfdfdf;
}

.color-text {
  font-weight: bold;
  color: orange;
  text-shadow: -4px 4px 0px #a5a89b, -7px 7px 0px #70636d;
}

.color-text-small {
  color: #422a3c;
  text-shadow: -2px 2px 0px #a5a89b, -4px 4px 0px #70636d;
}

.block {
  margin-top: 10vh;
  margin-bottom: 10vh;

  @media only screen and (max-width: 768px) {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

h1 {
  font-size: 48px;
  line-height: 48px;

  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }
}

h2 {
  font-size: 42px;

  @media only screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h3,
p {
  font-size: 20px;

  @media only screen and (max-width: 768px) {
    font-size: 10px;
  }
}

p {
  line-height: 28px;
  margin-right: 22vw;

  @media only screen and (max-width: 768px) {
    margin-right: 3vw;
  }
}

/* Home */

#hello {
  font-size: 112px;
  margin-top: 55vh;

  @media only screen and (max-width: 768px) {
    font-size: 96px;
    margin-top: 2vh;
  }
}

#about-me {
  width: 80vw;
  margin-bottom: 15vh;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

/* Projects */

.one-project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.one-project a:link {
  color: black;
}

.one-project a:visited {
  color: #422a3c;
}

.one-project a:active {
  color: #a5a89b;
}

/* Profile */

#contact a:link {
  color: black;
}

#contact a:visited {
  color: #422a3c;
}

#contact a:active {
  color: #a5a89b;
}

/* Footer */

footer {
  font-size: 12px;
  text-align: center;
  position: sticky;

  @media only screen and (max-width: 768px) {
    font-size: 8px;
  }
}
