/* General */

body {
  margin-left: 10vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ffe6e6;
}

.color-text {
  font-weight: bold;
  color: #8f246b;
  text-shadow: -4px 4px 0px #ffc2c2, -7px 7px 0px #e67300;
}

.color-text-small {
  color: #8f246b;
  text-shadow: -2px 2px 0px #ffc2c2, -4px 4px 0px #e67300;
}

.block {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

h2 {
  font-size: 42px;
}

h3,
p {
  font-size: 20px;
}

p {
  line-height: 28px;
  margin-right: 22vw;
}

@media (max-width: 768px) {
  p {
    margin-right: 12vw;
    font-size: 18px;
  }
}

/* Home */

#hello {
  font-size: 112px;
  margin-top: 55vh;
}
@media (max-width: 768px) {
  #hello {
    font-size: 86px;
    margin-top: 25vh;
  }
}

#about-me {
  margin-bottom: 15vh;
}

@media (max-width: 768px) {
  #about-me {
    margin-bottom: 25vh;
  }
}

/* Projects */

.one-project a:link {
  color: black;
}

.one-project a:visited {
  color: #8f246b;
}

.one-project a:active {
  color: #e67300;
}

/* Profile */

#contact a:link {
  color: black;
}

#contact a:visited {
  color: #8f246b;
}

#contact a:active {
  color: #e67300;
}

/* Footer */

footer {
  font-size: 12px;
  text-align: center;
  position: sticky;
}
@media (max-width: 768px) {
  footer {
    font-size: 8px;
  }
}
